<footer class="gh-footer{{#match @custom.header_and_footer_color "Accent color"}} has-accent-color{{/match}} gh-outer">
    <div class="gh-footer-inner gh-inner">

        <div class="gh-footer-bar">
            <span class="gh-footer-logo is-title">
                {{#if @site.logo}}
                    <img src="{{@site.logo}}" alt="{{@site.title}}">
                {{else}}
                    {{@site.title}}
                {{/if}}
            </span>
            <nav class="gh-footer-menu">
                {{navigation type="secondary"}}
            </nav>
            <div class="gh-footer-copyright">
                Copyright © <span id="copyright-year">2024</span> kontokultur
                <script type="text/javascript">
                    const d = new Date();
                    const span = document.getElementById("copyright-year")
                    let year = d.getFullYear();
                    span.innerHTML = year
                </script>
            </div>
        </div>

    </div>
</footer>
